{% extends 'console/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>Here we be counting words</h1>
        <p class="lead">RSS feeds haz entries haz words. We count words in entries in feeds. You filter words per entries or feeds. Or not.</p>
        {% if user.is_anonymous %}
            <hr />
            <p>Oh, we sea your not logged in! Not good no good... Please find the big green button and do a click.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Log in your self</a></p>
        {% else %}
            <hr />
            <p>Great success!</p>
            <p>Please kindly be informed here are the two pages you can make click to:</p>
                <ul class="nav nav-pills center">
                    <li><a href="{% url "feeds" %}">Feeds</a></li>
                    <li><a href="#">Words</a></li>
                </ul>
        {% endif %}
      </div>

{% endblock content %}
            