{% extends 'console/base.html' %}

{% block top_nav %}{% include 'console/inc/top_nav.html' with active="words" %}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>These are words</h1>
            <p class="lead">The bestest words. Sorted by their awesomeness.</p>
            <p>This view uses datatables. It's JS-only, it won't work without JS. No graceful degradation here sorry. And no progressive enhancement either, if there was ever a difference...</p>
            <p>Datatable is in "server mode", meaning that all pagination and other data manipulation is done on the server, and not in the browser as is default.</p>
            <p>This view uses the API, no additional coding required. Well, almost, there is that DatatableSupportMixin thingy...</p>

            <div class="alert alert-danger nojs" role="alert">This page uses JavaScript. Please enable J-a-v-a-S-c-r-i-p-t in your browser.</div>
            <form class="form-horizontal" role="form">
                <h3>Filter</h3>
                <div class="form-group">
                    <label for="feeds" class="col-sm-2">Feed:</label>
                    <div class="col-sm-10">
                        <select id="feeds" class="form-control">
                            <option value="0">All</option>
                            {% for feed in feeds %}
                                <option value="{{ feed.id }}">{{ feed }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="feed-entry-0" class="col-sm-2">Entry:</label>
                    <div class="col-sm-10">
                        <p id="feed-entry-0" class="form-control-static feed-entries feed-entries-0">All (select a feed first)</p>
                        {% for feed in feeds %}
                            <select id="feed-entry-{{ feed.id }}" class="form-control feed-entries feed-entries-{{ feed.id }}" style="display: none;">
                                <option value="0">All</option>
                                {% for entry in feed.entries.all %}
                                    <option value="{{ entry.id }}">{{ entry }}</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                    </div>
                </div>
            </form>

            <h3>Data</h3>
            <table id="words" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Word</th>
                        <th>Count</th>
                    </tr>
                </thead>
         
                <tfoot>
                    <tr>
                        <th>Word</th>
                        <th>Count</th>
                    </tr>
                </tfoot>
            </table>
          </div>
      </div>

{% endblock content %}


{% block extrafoot %}
    {{ block.super }}
    <script type="text/javascript">
        /*
         * I like to put JS template-specific code in the template. That's a mortal sin by many, ok by others...
         */

        // datatable

        var words_table;
        jQuery(function($){
            words_table = $('#words').dataTable({
                "ajax": '{% url "words-top-list" %}',
                "bProcessing": true,
                "bServerSide": true,
                "columns": [
                    { "data": "word" },
                    { "data": "count" }
                ],
                "filter":   false,
                "ordering": false,
                "info":     false,
                "bLengthChange": false
            });
        });


        // filters

         var filter_query = {
            'f': '',
            'e': ''
        };

        var ajax_url = function() {
            var url = '{% url "words-top-list" %}';
            if (filter_query['f'] || filter_query['e']) {
                url += '?';
                if (filter_query['f']) {
                    url += 'f=' + filter_query['f'];
                } else {
                    url += 'e=' + filter_query['e'];
                }
            }
            return url;
        };

        jQuery(function($){

            var filter_change = function($entry_select) {
                if ($entry_select === null) {
                    filter_query = {
                        'f': '',
                        'e': ''
                    };
                } else {
                    var entry_id = $entry_select.val();
                    var feed_id =  '';
                    if ($entry_select.val() === '0') {
                        entry_id = '';
                        var id_arr = $entry_select.attr('id').split('-'); 
                        feed_id = id_arr[id_arr.length - 1];
                    }
                    filter_query['f'] = feed_id;
                    filter_query['e'] = entry_id;
                }
                words_table.api().ajax.url(ajax_url());
                words_table.api().ajax.reload();
            };

            $('#feeds').on('change', function(){
                var $this = $(this);
                var feed_id = $this.val();
                $('.feed-entries').hide();
                $('.feed-entries-' + feed_id).show().val('0');
                if (feed_id === '0') {
                    filter_change(null);
                } else {
                    filter_change($('#feed-entry-'+feed_id));
                }
            });
            $('select.feed-entries').on('change', function(){ filter_change($(this)); });
        });

    </script>
{% endblock extrafoot %}